# Project exclude paths
/target/
/storage/
.idea/
/log/*
/bin/
localtesting.sh
tibot.jar
.vscode/settings.json
.settings/org.eclipse.jdt.apt.core.prefs
.vscode/launch.json
.settings/org.eclipse.jdt.core.prefs
org.eclipse.jdt.core.prefs
eclipse-java-google-style.xml
TI4_map_generator_bot.code-workspace
docker_run.ps1
TI4_map_generator_discord_bot.iml
.project
.prettierrc
.settings
/runbot.sh
.DS_Store
*.swp
/src/test/java/ti4/image/static/tileLayout/temp
