# Project exclude paths
/target/
/storage/
.idea/
/log/*
/bin/
localtesting.sh
tibot.jar
.vscode/settings.json
.settings/org.eclipse.jdt.apt.core.prefs
.vscode/launch.json
.settings/org.eclipse.jdt.core.prefs
org.eclipse.jdt.core.prefs
TI4_map_generator_bot.code-workspace
docker_run.ps1
TI4_map_generator_discord_bot.iml
.project
.settings
/runbot.sh
.DS_Store
old_pbd_games/pbd250.txt
old_pbd_games/pbd251.txt
old_pbd_games/pbd252.txt
old_pbd_games/pbd253.txt
old_pbd_games/pbd254.txt
old_pbd_games/pbd255.txt
old_pbd_games/pbd256.txt
old_pbd_games/pbd257.txt
old_pbd_games/pbd258.txt
old_pbd_games/pbd259.txt
old_pbd_games/pbd260.txt
old_pbd_games/pbd261.txt
old_pbd_games/pbd262.txt
old_pbd_games/pbd263.txt
old_pbd_games/pbd264.txt
old_pbd_games/pbd265.txt
old_pbd_games/pbd266.txt
old_pbd_games/pbd267.txt
old_pbd_games/pbd268.txt
old_pbd_games/pbd270.txt
old_pbd_games/pbd271.txt
old_pbd_games/pbd272.txt
old_pbd_games/pbd273.txt
old_pbd_games/pbd274.txt
old_pbd_games/pbd275.txt
old_pbd_games/pbd276.txt
old_pbd_games/pbd277.txt
old_pbd_games/pbd278.txt
old_pbd_games/pbd279.txt
old_pbd_games/pbd280.txt
old_pbd_games/pbd281.txt
old_pbd_games/pbd282.txt
old_pbd_games/pbd283.txt
old_pbd_games/pbd284.txt
old_pbd_games/pbd285.txt
old_pbd_games/pbd286.txt
old_pbd_games/pbd287.txt
old_pbd_games/pbd288.txt
old_pbd_games/pbd289.txt
old_pbd_games/pbd290.txt
old_pbd_games/pbd291.txt
old_pbd_games/pbd292.txt
old_pbd_games/pbd293.txt
old_pbd_games/pbd294.txt
old_pbd_games/pbd295.txt
old_pbd_games/pbd296.txt
old_pbd_games/pbd297.txt
old_pbd_games/pbd298.txt
old_pbd_games/pbd299.txt
old_pbd_games/pbd300.txt
old_pbd_games/pbd301.txt
old_pbd_games/pbd302.txt
old_pbd_games/pbd303.txt
old_pbd_games/pbd304.txt
old_pbd_games/pbd305.txt
old_pbd_games/pbd305b.txt
old_pbd_games/pbd306.txt
old_pbd_games/pbd307.txt
old_pbd_games/pbd307b.txt
old_pbd_games/pbd308.txt
old_pbd_games/pbd309.txt
old_pbd_games/pbd310.txt
old_pbd_games/pbd311.txt
old_pbd_games/pbd312.txt
old_pbd_games/pbd313.txt
old_pbd_games/pbd314.txt
old_pbd_games/pbd315.txt
old_pbd_games/pbd316.txt
old_pbd_games/pbd317.txt
old_pbd_games/pbd318.txt
old_pbd_games/pbd319.txt
old_pbd_games/pbd320.txt
old_pbd_games/pbd321.txt
old_pbd_games/pbd321b.txt
old_pbd_games/pbd322.txt
old_pbd_games/pbd323.txt
old_pbd_games/pbd324.txt
old_pbd_games/pbd325.txt
old_pbd_games/pbd326.txt
old_pbd_games/pbd326b.txt
old_pbd_games/pbd327.txt
old_pbd_games/pbd328.txt
old_pbd_games/pbd329.txt
old_pbd_games/pbd330.txt
old_pbd_games/pbd331.txt
old_pbd_games/pbd332.txt
old_pbd_games/pbd333.txt
old_pbd_games/pbd334.txt
old_pbd_games/pbd335.txt
old_pbd_games/pbd336.txt
old_pbd_games/pbd337.txt
old_pbd_games/pbd338.txt
old_pbd_games/pbd339.txt
old_pbd_games/pbd340.txt
old_pbd_games/pbd341.txt
old_pbd_games/pbd342.txt
old_pbd_games/pbd343.txt
old_pbd_games/pbd344.txt
old_pbd_games/pbd345.txt
old_pbd_games/pbd346.txt
old_pbd_games/pbd347.txt
old_pbd_games/pbd348.txt
old_pbd_games/pbd348b.txt
old_pbd_games/pbd348c.txt
old_pbd_games/pbd349.txt
old_pbd_games/pbd351.txt
old_pbd_games/pbd352.txt
old_pbd_games/pbd353.txt
old_pbd_games/pbd354.txt
old_pbd_games/pbd355.txt
old_pbd_games/pbd356.txt
old_pbd_games/pbd357.txt
old_pbd_games/pbd358.txt
old_pbd_games/pbd359.txt
old_pbd_games/pbd360.txt
old_pbd_games/pbd361.txt
old_pbd_games/pbd362.txt
old_pbd_games/pbd363.txt
old_pbd_games/pbd364.txt
old_pbd_games/pbd365.txt
old_pbd_games/pbd366.txt
old_pbd_games/pbd366b.txt
old_pbd_games/pbd366c.txt
old_pbd_games/pbd367.txt
old_pbd_games/pbd368.txt
old_pbd_games/pbd369.txt
old_pbd_games/pbd370.txt
old_pbd_games/pbd371.txt
old_pbd_games/pbd372.txt
old_pbd_games/pbd373.txt
old_pbd_games/pbd374.txt
old_pbd_games/pbd375.txt
old_pbd_games/pbd376.txt
old_pbd_games/pbd377.txt
old_pbd_games/pbd378.txt
old_pbd_games/pbd379.txt
old_pbd_games/pbd380.txt
old_pbd_games/pbd381.txt
old_pbd_games/pbd382.txt
old_pbd_games/pbd383.txt
old_pbd_games/pbd384.txt
old_pbd_games/pbd385.txt
old_pbd_games/pbd386.txt
old_pbd_games/pbd387.txt
old_pbd_games/pbd388.txt
old_pbd_games/pbd389.txt
old_pbd_games/pbd390.txt
old_pbd_games/pbd391.txt
old_pbd_games/pbd392.txt
old_pbd_games/pbd393.txt
old_pbd_games/pbd394.txt
old_pbd_games/pbd395.txt
old_pbd_games/pbd396.txt
old_pbd_games/pbd397.txt
old_pbd_games/pbd398.txt
old_pbd_games/pbd399.txt
old_pbd_games/pbd400.txt
old_pbd_games/pbd401.txt
old_pbd_games/pbd402.txt
old_pbd_games/pbd403.txt
old_pbd_games/pbd404.txt
old_pbd_games/pbd405.txt
old_pbd_games/pbd406.txt
old_pbd_games/pbd407.txt
old_pbd_games/pbd408.txt
old_pbd_games/pbd409.txt
old_pbd_games/pbd410.txt
old_pbd_games/pbd411.txt
old_pbd_games/pbd412.txt
old_pbd_games/pbd413.txt
old_pbd_games/pbd413b.txt
old_pbd_games/pbd414.txt
old_pbd_games/pbd415.txt
old_pbd_games/pbd416.txt
old_pbd_games/pbd417.txt
old_pbd_games/pbd418.txt
old_pbd_games/pbd419.txt
old_pbd_games/pbd420.txt
old_pbd_games/pbd421.txt
old_pbd_games/pbd422.txt
old_pbd_games/pbd423.txt
old_pbd_games/pbd424.txt
old_pbd_games/pbd425.txt
old_pbd_games/pbd426.txt
old_pbd_games/pbd427.txt
old_pbd_games/pbd428.txt
old_pbd_games/pbd429.txt
old_pbd_games/pbd430.txt
old_pbd_games/pbd431.txt
old_pbd_games/pbd432.txt
old_pbd_games/pbd433.txt
old_pbd_games/pbd434.txt
old_pbd_games/pbd435.txt
old_pbd_games/pbd436.txt
old_pbd_games/pbd437.txt
old_pbd_games/pbd438.txt
old_pbd_games/pbd439.txt
old_pbd_games/pbd440.txt
old_pbd_games/pbd441.txt
old_pbd_games/pbd442.txt
old_pbd_games/pbd443.txt
old_pbd_games/pbd444.txt
old_pbd_games/pbd445.txt
old_pbd_games/pbd446.txt
old_pbd_games/pbd447.txt
old_pbd_games/pbd448.txt
old_pbd_games/pbd449.txt
old_pbd_games/pbd450.txt
old_pbd_games/pbd451.txt
old_pbd_games/pbd452.txt
old_pbd_games/pbd453.txt
old_pbd_games/pbd454.txt
old_pbd_games/pbd455.txt
old_pbd_games/pbd456.txt
old_pbd_games/pbd457.txt
old_pbd_games/pbd458.txt
old_pbd_games/pbd459.txt
old_pbd_games/pbd460.txt
old_pbd_games/pbd461.txt
old_pbd_games/pbd462.txt
old_pbd_games/pbd463.txt
old_pbd_games/pbd463b.txt
old_pbd_games/pbd464.txt
old_pbd_games/pbd465.txt
old_pbd_games/pbd466.txt
old_pbd_games/pbd467.txt
old_pbd_games/pbd468.txt
old_pbd_games/pbd469.txt
old_pbd_games/pbd470.txt
old_pbd_games/pbd471.txt
old_pbd_games/pbd472.txt
old_pbd_games/pbd473.txt
old_pbd_games/pbd474.txt
old_pbd_games/pbd475.txt
old_pbd_games/pbd476.txt
old_pbd_games/pbd477.txt
old_pbd_games/pbd478.txt
old_pbd_games/pbd479.txt
old_pbd_games/pbd480.txt
old_pbd_games/pbd481.txt
old_pbd_games/pbd482.txt
old_pbd_games/pbd483.txt
old_pbd_games/pbd484.txt
old_pbd_games/pbd485.txt
old_pbd_games/pbd486.txt
old_pbd_games/pbd487.txt
old_pbd_games/pbd488.txt
old_pbd_games/pbd489.txt
old_pbd_games/pbd490.txt
old_pbd_games/pbd491.txt
old_pbd_games/pbd492.txt
old_pbd_games/pbd493.txt
old_pbd_games/pbd494.txt
old_pbd_games/pbd496.txt
old_pbd_games/pbd497.txt
old_pbd_games/pbd498.txt
old_pbd_games/pbd499.txt
old_pbd_games/pbd500.txt
old_pbd_games/pbd501.txt
old_pbd_games/pbd502.txt
old_pbd_games/pbd503.txt
old_pbd_games/pbd504.txt
old_pbd_games/pbd505.txt
old_pbd_games/pbd506.txt
old_pbd_games/pbd507.txt
old_pbd_games/pbd508.txt
old_pbd_games/pbd509.txt
old_pbd_games/pbd510.txt
old_pbd_games/pbd511.txt
old_pbd_games/pbd512.txt
old_pbd_games/pbd513.txt
old_pbd_games/pbd514.txt
old_pbd_games/pbd515.txt
old_pbd_games/pbd516.txt
old_pbd_games/pbd517.txt
old_pbd_games/pbd518.txt
old_pbd_games/pbd519.txt
old_pbd_games/pbd520.txt
old_pbd_games/pbd521.txt
old_pbd_games/pbd522.txt
old_pbd_games/pbd523.txt
old_pbd_games/pbd524.txt
old_pbd_games/pbd525.txt
old_pbd_games/pbd526.txt
old_pbd_games/pbd527.txt
old_pbd_games/pbd528.txt
old_pbd_games/pbd529.txt
old_pbd_games/pbd530.txt
old_pbd_games/pbd531.txt
old_pbd_games/pbd532.txt
old_pbd_games/pbd533.txt
old_pbd_games/pbd534.txt
old_pbd_games/pbd536.txt
old_pbd_games/pbd537.txt
old_pbd_games/pbd538.txt
old_pbd_games/pbd539.txt
old_pbd_games/pbd540.txt
old_pbd_games/pbd541.txt
old_pbd_games/pbd542.txt
old_pbd_games/pbd543.txt
old_pbd_games/pbd544.txt
old_pbd_games/pbd545.txt
old_pbd_games/pbd546.txt
old_pbd_games/pbd547.txt
old_pbd_games/pbd548.txt
old_pbd_games/pbd549.txt
old_pbd_games/pbd550.txt
old_pbd_games/pbd551.txt
old_pbd_games/pbd552.txt
old_pbd_games/pbd553.txt
old_pbd_games/pbd554.txt
old_pbd_games/pbd555.txt
old_pbd_games/pbd556.txt
old_pbd_games/pbd557.txt
old_pbd_games/pbd558.txt
old_pbd_games/pbd559.txt
old_pbd_games/pbd560.txt
old_pbd_games/pbd561.txt
old_pbd_games/pbd562.txt
old_pbd_games/pbd563.txt
old_pbd_games/pbd564.txt
old_pbd_games/pbd565.txt
old_pbd_games/pbd566.txt
old_pbd_games/pbd567.txt
old_pbd_games/pbd567b.txt
old_pbd_games/pbd568.txt
old_pbd_games/pbd569.txt
old_pbd_games/pbd570.txt
old_pbd_games/pbd571.txt
old_pbd_games/pbd572.txt
old_pbd_games/pbd573.txt
old_pbd_games/pbd574.txt
old_pbd_games/pbd575.txt
old_pbd_games/pbd576.txt
old_pbd_games/pbd577.txt
old_pbd_games/pbd578.txt
old_pbd_games/pbd579.txt
old_pbd_games/pbd580.txt
old_pbd_games/pbd581.txt
old_pbd_games/pbd582.txt
old_pbd_games/pbd583.txt
old_pbd_games/pbd584.txt
old_pbd_games/pbd585.txt
old_pbd_games/pbd586.txt
old_pbd_games/pbd587.txt
old_pbd_games/pbd588.txt
old_pbd_games/pbd589.txt
old_pbd_games/pbd590.txt
old_pbd_games/pbd591.txt
old_pbd_games/pbd592.txt
old_pbd_games/pbd593.txt
old_pbd_games/pbd594.txt
old_pbd_games/pbd595.txt
old_pbd_games/pbd596.txt
old_pbd_games/pbd597.txt
old_pbd_games/pbd598.txt
old_pbd_games/pbd599.txt
old_pbd_games/pbd600.txt
old_pbd_games/pbd601.txt
old_pbd_games/pbd602.txt
old_pbd_games/pbd603.txt
old_pbd_games/pbd604.txt
old_pbd_games/pbd605.txt
old_pbd_games/pbd606.txt
old_pbd_games/pbd607.txt
old_pbd_games/pbd608.txt
old_pbd_games/pbd609.txt
old_pbd_games/pbd610.txt
old_pbd_games/pbd611.txt
old_pbd_games/pbd612.txt
old_pbd_games/pbd613.txt
old_pbd_games/pbd614.txt
old_pbd_games/pbd615.txt
old_pbd_games/pbd616.txt
old_pbd_games/pbd617.txt
old_pbd_games/pbd618.txt
old_pbd_games/pbd619.txt
old_pbd_games/pbd620.txt
old_pbd_games/pbd622.txt
old_pbd_games/pbd623.txt
old_pbd_games/pbd624.txt
old_pbd_games/pbd625.txt
old_pbd_games/pbd626.txt
old_pbd_games/pbd628.txt
old_pbd_games/pbd629.txt
old_pbd_games/pbd630.txt
old_pbd_games/pbd631.txt
old_pbd_games/pbd632.txt
old_pbd_games/pbd633.txt
old_pbd_games/pbd634.txt
old_pbd_games/pbd635.txt
old_pbd_games/pbd636.txt
old_pbd_games/pbd637.txt
old_pbd_games/pbd638.txt
old_pbd_games/pbd639.txt
old_pbd_games/pbd640.txt
old_pbd_games/pbd641.txt
old_pbd_games/pbd642.txt
old_pbd_games/pbd643.txt
old_pbd_games/pbd644.txt
old_pbd_games/pbd645.txt
old_pbd_games/pbd646.txt
old_pbd_games/pbd647.txt
old_pbd_games/pbd648.txt
old_pbd_games/pbd649.txt
old_pbd_games/pbd650.txt
old_pbd_games/pbd651.txt
old_pbd_games/pbd652.txt
old_pbd_games/pbd653.txt
old_pbd_games/pbd654.txt
old_pbd_games/pbd655.txt
old_pbd_games/pbd656.txt
old_pbd_games/pbd657.txt
old_pbd_games/pbd658.txt
old_pbd_games/pbd659.txt
old_pbd_games/pbd660.txt
old_pbd_games/pbd661.txt
old_pbd_games/pbd662.txt
old_pbd_games/pbd663.txt
old_pbd_games/pbd664.txt
old_pbd_games/pbd665.txt
old_pbd_games/pbd666.txt
old_pbd_games/pbd667.txt
old_pbd_games/pbd669.txt
old_pbd_games/pbd670.txt
old_pbd_games/pbd671.txt
old_pbd_games/pbd672.txt
old_pbd_games/pbd673.txt
old_pbd_games/pbd674.txt
old_pbd_games/pbd675.txt
old_pbd_games/pbd676.txt
old_pbd_games/pbd677.txt
old_pbd_games/pbd678.txt
old_pbd_games/pbd679.txt
old_pbd_games/pbd680.txt
old_pbd_games/pbd681.txt
old_pbd_games/pbd682.txt
old_pbd_games/pbd683.txt
old_pbd_games/pbd684.txt
old_pbd_games/pbd685.txt
old_pbd_games/pbd686.txt
old_pbd_games/pbd687.txt
old_pbd_games/pbd689.txt
old_pbd_games/pbd690.txt
old_pbd_games/pbd691.txt
old_pbd_games/pbd692.txt
old_pbd_games/pbd693.txt
old_pbd_games/pbd694.txt
old_pbd_games/pbd695.txt
old_pbd_games/pbd696.txt
old_pbd_games/pbd697.txt
old_pbd_games/pbd698.txt
old_pbd_games/pbd699.txt
old_pbd_games/pbd700.txt
