on: workflow_dispatch
name: CheckUndoFileCount
concurrency:
  group: "CheckUndoFileCount"
jobs:
  save:
    name: CheckUndoFileCount
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOSTINGER_SSH_HOST }}
          username: ${{ secrets.HOSTINGER_SSH_USER }}
          password: ${{ secrets.HOSTINGER_SSH_PASSWORD }}
          port: ${{ secrets.HOSTINGER_SSH_PORT }}
          script: |
            cd ${{ vars.HOST_TI4_SAVES_DIR }}/maps/undo
            
            echo "Total number of files in 'undo' (including subdirectories):"
            find . -type f | wc -l
            
            echo "Total number of directories in 'undo' (including subdirectories):"
            find . -type d | wc -l
