on:
  workflow_dispatch:
  workflow_call:
  schedule:
    - cron: '0 * * * *'
name: ForceSaveFileBackup
concurrency:
  group: "Start Bot"
jobs:
  save:
    name: Backup Game Saves
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        with:
          host: ${{ secrets.HOSTINGER_SSH_HOST }}
          username: ${{ secrets.HOSTINGER_SSH_USER }}
          password: ${{ secrets.HOSTINGER_SSH_PASSWORD }}
          port: ${{ secrets.HOSTINGER_SSH_PORT }}
          envs: DISCORD_WEBHOOK_URL
          script: |
            cd ${{ vars.HOST_TI4_SAVES_DIR }}
            echo "FORCING BACKUP OF SAVE FILES"
            rm -f ${{ vars.HOST_TI4_SAVES_DIR }}/.git/index.lock
            git add . -A
            git commit -m "save files"
            git push
            curl -X POST -H 'Content-Type: application/json' -d '{"content":"Backup Successful"}' $DISCORD_WEBHOOK_URL
            echo "DONE!"
