on: workflow_dispatch
name: RestartBot

jobs:
  build:
    name: Restart
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      env:
        AWS_KEY: ${{ secrets.IMG_AWS_KEY }}
        AWS_SECRET: ${{ secrets.IMG_AWS_SECRET }}
      with:
        host: ${{ secrets.SSH_HOST }}
        username: root
        password: ${{ secrets.SSH_PASSWORD }}
        port: 22
        script_stop: true
        envs: AWS_KEY, AWS_SECRET
        script: |
          cd /root/ti4bot
          ./scheduled_upload.sh
          cd /root/ti4bot/TI4_map_generator_bot
          echo "Building docker image..."
          docker version
          docker build --build-arg BOT_KEY=$DISCORD_BOT_KEY --build-arg USER=$DISCORD_USER --build-arg SERVER=$DISCORD_SERVER --build-arg SERVER2=$DISCORD_SERVER2 --build-arg AWS_SECRET=$AWS_SECRET --build-arg AWS_KEY=$AWS_KEY -t tibot .
          echo "Restarting TIBot... giving 30 seconds to shutdown"
          docker stop $(docker ps -q) --time 30
          cd /root
          ./docker_run.sh
          echo "Cleaning up docker stuff..."
          docker rm $(docker ps --filter status=exited -q) || true
          docker rmi -f $(docker images --filter "dangling=true" -q) || true
          echo "DONE!"
