name: RunTests
on:
    pull_request:
        branches: [ "master" ]
jobs:
    ci:
        name: RunTestsOnPR
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Set up JDK 21 for x64
          uses: actions/setup-java@v3
          with:
            java-version: '21'
            distribution: 'corretto'
            architecture: x64
        - name: Run the Maven verify phase
          run: mvn --batch-mode --update-snapshots --no-transfer-progress verify test-compile
