name: RunTests
on:
  pull_request:
    branches: ["master"]
jobs:
  validate-json:
    name: check for invalid json files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check for invalid json files
        run: |
          export ERROR_FOUND=""
          find . -name "*.json" -print0 | while IFS= read -r -d $'\0' file; do
            if ! python -mjson.tool "$file" > /dev/null; then
              echo "INVALID $file" >&2
              ERROR_FOUND=1
            fi
          done
          if [ -n "$ERROR_FOUND" ]; then
            exit 1
          fi

  ci:
    name: Run Tests On Pull Request
    runs-on: ubuntu-latest
    needs: validate-json
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21 for x64
        uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: "corretto"
          architecture: x64
      - name: Run the Maven verify phase
        run: mvn --batch-mode --update-snapshots --no-transfer-progress verify test-compile
