on: workflow_dispatch
name: StopBot
concurrency:
  group: "Start Bot"
jobs:
  build:
    name: Stop Bot
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      env:
        AWS_KEY: ${{ secrets.IMG_AWS_KEY }}
        AWS_SECRET: ${{ secrets.IMG_AWS_SECRET }}
      with:
        host: ${{ secrets.SSH_HOST }}
        username: root
        password: ${{ secrets.SSH_PASSWORD }}
        port: 22
        script_stop: true
        envs: AWS_KEY, AWS_SECRET
        script: |
          cd /root/ti4bot
          ./scheduled_upload.sh
          cd /root/ti4bot/TI4_map_generator_bot
          echo "Building docker image..."
          docker version
          docker build --build-arg BOT_KEY=$DISCORD_BOT_KEY --build-arg USER=$DISCORD_USER --build-arg SERVER=$DISCORD_SERVER --build-arg SERVER2=$DISCORD_SERVER2 --build-arg AWS_SECRET=$AWS_SECRET --build-arg AWS_KEY=$AWS_KEY -t tibot .
          echo "Shutting Down TIBot... giving 600 seconds to shutdown"
          docker stop $(docker ps -q) --time 600
          cd /root/ti4bot
          ./scheduled_upload.sh
          echo "DONE!"
