on: workflow_dispatch
name: StopBot
concurrency:
  group: "Start Bot"
jobs:
  build:
    name: Stop Bot
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      env:
        AWS_KEY: ${{ secrets.IMG_AWS_KEY }}
        AWS_SECRET: ${{ secrets.IMG_AWS_SECRET }}
      with:
        host: ${{ secrets.HOSTINGER_SSH_HOST }}
        username: ${{ secrets.HOSTINGER_SSH_USER }}
        password: ${{ secrets.HOSTINGER_SSH_PASSWORD }}
        port: ${{ secrets.HOSTINGER_SSH_PORT }}
        envs: AWS_KEY, AWS_SECRET
        script: |
          cd /app
          ./scheduled_upload.sh
          cd ${{ vars.HOST_TI4_REPO_DIR }}
          echo "Building docker image..."
          docker version
          docker build --build-arg AWS_SECRET=$AWS_SECRET --build-arg AWS_KEY=$AWS_KEY -t tibot .
          echo "Shutting Down TIBot... giving 600 seconds to shutdown"
          docker stop $(docker ps -q) --time 600
          cd /app
          ./scheduled_upload.sh
          echo "DONE!"
